.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px;
}

img{
  width:300px;
  height: 200px;
  margin: 10px;
  transition: all 1s;
  box-shadow: 4px 4px 4px #33cc33;
  border: 5px #33cc33;
  padding: 10px;
}

img:hover{
  transform: scale(1.4);
}

h1{
  width: 200px;
  background-color: #006622;
  color: white;
  margin: 0 auto;
  text-align: center;

}

h2{
  width: 400px;
  background-color: #009933;
  color: white;
  margin: 0 auto;
  text-align: center;
}

body{
  background-color: #e6ffe6;
}
